<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
    <link rel="stylesheet" href="demo.css">
</head>
<body>
    <h1>Stuti's Component Library!</h1>
    <p>I am attending neog.camp and I want to make a library which would make all my projects look good and consistent.</p>

    <hr>

    <h2>@typography</h2>

    <h1>This is the biggest Heading</h1>
    <h2>This is the second biggest</h2>
    <p>Normal text. This will wrap at the end like a paragraph.</p>
    <small>This is a relatively smaller text.</small>
    <p>This para will have <strong>Bold</strong> text</p>

    <hr>

    <h2>@container</h2>

    <h3>fluid container</h3>
    <div class="container">This is a fluid container and this will go till the end of the page</div>

    <h3>fluid container</h3>
    <div class="container container-center">This is a centred container and this will go till the specified width</div>

    <hr>

    <h2>@links</h2>

    <a class="link primary-link" href="/">Primary Link</a>
    <a class="link secondary-link" href="/">Secondary Link</a>

    <hr>

    <h2>@lists</h2>

    <h3>unordered list</h3>
    <p>This list will not have the bullet</p>

    <ul class="list-non-bullet">
        <li class="list-item-inline">Item One</li>
        <li class="list-item-inline">Item Two</li>
        <li class="list-item-inline">Item Three</li>
    </ul>

    <h3>unordered inline list</h3>

    <ul class="list-non-bullet">
        <li>Inline Item One</li>
        <li>Inline Item Two</li>
        <li>Inline Item Three</li>
    </ul>

    <h3>reverse ordered list</h3>

    <ol reversed>
        <li>milk</li>
        <li>eggs</li>
        <li>bread</li>
    </ol>

    <hr>

    <h2>@nav</h2>

    <nav class="navigation container">
        <div class="nav-brand">IAmBrand</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link link-active" href="/">home</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">products</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">about</a>
            </li>
        </ul>
    </nav>

    <hr>

    <h2>@header</h2>

    <header class="hero">
        <img class="hero-img" src="images/hero.svg" >
        <h1 class="hero-heading">Stuti Prasad the <span class="heading-inverted">Web Developer</span></h1>
    </header>

    <hr>

    <h2>@section</h2>

    <section class="section ">
        <div class="container-center">
            <h1>white section</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
        </div>   
    </section>

    <section class="section ow">
        <div class="container-center">
            <h1>off-white section</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        
    </section>

    <hr>

    <h2>@footer</h2>

    <footer class="footer">
        <div class="footer-header">Some small heading inside footer</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" href="/">socialOne</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">socialTwo</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/">socialThree</a>
            </li>
        </ul>
    </footer>









    <!-- <div style="height: 30vh;">

    </div> -->

</body>
</html>